table#euf{
	background-color: yellow;
}


table#KeneVeugra{
	background-color: pink;
}

table#keusse, table#zedouZicmus, table#mefu, table#GuedraTeucheTipeu, table#ChanmeBlemeproPec, table#PouilledePotecaCaillerag{
	background-color: palegreen;
}


table#mefu  tr#youvoiUc, table#mefu tr#zeberyeb, table#keusse tr#al, table#keusse tr#zeto, table#Lassedege tr#al, table#Lassedege tr#yepe{
	background-color: red;
}

table#channelsOutput tr#role, table#zomblou tr#role {
	background-color: orange;
}

table#channelsOutput tr#speed, table#zomblou tr#\[mifaOideOiteOe\], table#zomblou tr#\[zessegonNeuthu\], table#ZetiNoichNeuthuZincMeucaYoce tr#\[yecous\]
{
	background-color: skyblue;
}

table#usage tr#lancebaVeucheYeuveZarbiZeu, table#ZetiNoichNeuthuZincMeucaYoce tr#zebe {
	background-color: olive;
}

table#vessause tr#persistenceYeche, table#TassepeTcheubi tr#telmor {
	background-color: hotpink;
}

table#youvoi tr#yepe {
	background-color: darkviolet;
}

table#usage tr#\{youvois\} {
	height: 100%;
	background: linear-gradient(90deg, skyblue 50%, darkviolet 50%);
}