
#repartition {
	border: 3px solid black;
	border-collapse : collapse;
}
#repartition > tbody> tr >td {
	border : 3px solid black;
}


svg > g {
    cursor: move;
}

rect[id^=sizer] {
  cursor: se-resize;
}

ul{
 list-style-type:none;
 }

 li{
 display:inline;
}

ul li span{
 background-color:#6495ED;
 color:black;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
}

ul li a:hover{
 background-color:#D3D3D3;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
}


svg{
	display: inline-block;
	vertical-align: middle;
/*	user-select: none;*/
}

/*Cf RECT_STROKE_WIDTH = 6 in Javascript code. */
rect{
	fill: rgb(0,0,255); 
	stroke-width:6; 
	stroke:rgb(0,0,0);
}

line{
	stroke: black;
	stroke-width:4;
}

polygon{
	stroke: black;
	stroke-width:4;
	fill: lightgray;
}

path{
	stroke: #6666ff; 
	stroke-width: 1px; 
/*	fill: none; */
/*	marker-end: url(#markerArrow);*/
}

marker > path {
	fill: #0000ff; 
}

