
.rect{
	fill:blue;
	stroke:pink;
	stroke-width:5;
	opacity:0.5;
}


.hole{
	fill:red;
	stroke:green;
	stroke-width:5;
	opacity:0.5;	
}


.logical_contact{
	fill:white;
}

.topological_contact{
	fill:black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

table {
    background-color: #fd9;
    table-layout: auto;
    width: 100%;
}
tbody tr, thead tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

tbody {
    background-color: #fff;
/*    display: block;*/
    height: 150px;
    overflow: auto;
}
td {
    padding: 3px 10px;
}
thead { 
    display:table-header-group;
    width: calc(100% - 1em);
}
#decision_tree tr.clicked {
    background: #ccd;
}
#decision_tree tr.highlight {
    background: #eef;
}
